.image{
    width:90%;
    height:90%;
}

.profile{
    width: 40%;
    height:600px;
    margin-left: 20px;
    background-color: aliceblue;
}

.all{
    display:flex;
    margin-top: 50px;
}

.card{
    margin-bottom:20px;
    border: 1px solid white;
    box-shadow:2px 2px 5px grey;
    height:90%;
   
}

.btn{
    width:20%;
}  

button> a{
    color: white;

}